* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/background_campoestelar.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px;
  height: 100vh;
  width: 100vw;
}

body * {
  font-family: "Six Caps", sans-serif;
  font-style: normal;
  color: antiquewhite;
}

#container {
  display: flex;
  padding: 5px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1560px;
  border: 2px solid rgb(176, 220, 0);
  border-radius: 8px;
  justify-content: center;
}

/* topo da página */
#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
#nikesymbol img {
  display: flex;
  max-width: 12vw;
  width: 100%;
  margin: 0 0 0 1vw;
}
#link a {
  display: flex;
  color: white;
  flex-direction: column;
  font-size: 3.6vw;
  text-decoration: none;
  margin: 0px 7vw 0px 3vw;
  border: 2px solid rgb(176, 220, 0);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 0 15px;
}
#link a:hover {
  animation: light-change 0.2s forwards;
}

/* a chuteira no centro */
#center {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
#center img {
  display: flex;
  width: 100%;
  max-width: 55vw;
  min-width: 250px;
  transform: rotate(7deg) scaleX(-1);
  object-fit: contain;
  filter: brightness(90%);
  margin: 0 0 0 5vw;
  animation: rotate-back 0.2s forwards;
}
#center img:hover {
  filter: brightness(100%);
  animation: rotate-in 0.4s forwards;
}

/* a frase final */
#footer {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}
#footer footer {
  font-style: italic;
  font-size: 4vw;
  margin: 0.8vw auto;
}

/*animação da chuteira*/
@keyframes rotate-in {
  from {
    transform: rotate(7deg) scaleX(-1);
  }
  to {
    transform: rotate(10deg) scaleX(-1);
  }
}
@keyframes rotate-back {
  from {
    transform: rotate(10deg) scaleX(-1);
  }
  to {
    transform: rotate(7deg) scaleX(-1);
  }
}

/*animalção do link*/
@keyframes light-change {
  from {
    background-color: rgba(255, 255, 255, 0.1);
  }
  to {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
